ADMIN_PASSWORD=change-me
REPO_URL=https://github.com/ytom-zjf/my-hugo.git
REPO_BRANCH=main
GITHUB_TOKEN=ghp_xxx
GIT_AUTHOR_NAME=YTOM Writer Admin
GIT_AUTHOR_EMAIL=you@example.com
DATA_DIR=./data
SESSION_TTL_HOURS=168
SITE_TIMEZONE_OFFSET=+08:00
